.inquire{
  background: #EAEAEA;
  height: 100%;
  width: 100%;
  /*头部标签*/
  .inquire-title {
    width: 100%;
    height: 6vh;
    display: flex;
    background: #FFFFFF;
    justify-content: space-between;
    /*line-height: 6vh;*/
    border-bottom: 2px solid #F0F0F0;
    padding: 1.5vh 2vw;
    .title {
      font-weight: bold;
      font-size: 12px;
      font-family: "微软雅黑";
    }
    .btn {
      button {
        width: 8vh;
        height: 3vh;
        margin-right: 5px;
        background: #fff;
        font-size: 12px;
        border: 1px solid #D0D0D0;
        border-radius: 2px;
      }
    }
  }
  /*数据显示*/
  .inquire-data {
    border-bottom: 2px solid #F0F0F0;
    background: #FFFFFF;
    height: 10vh;
    //line-height: 8vh;
    text-align: left;
    padding: 10px 2vw;
    .inquire-item {
      margin-top: 0.6vh;
      display: inline-block;
      width: 10vw;
      height: 7vh;
      line-height: 7vh;
      margin-right: 23px;
      padding: 0 14px;
      box-shadow: 0px -5px 4px #E5E6E6;
      .inquire-item-title{
        display: flex;
        justify-content: space-between;
        height: 5.4vh;
        span:first-child {
          font-size: 12px;
          margin-top: 3px
        }
        span:last-child {
          font-size: 28px;
        }
      }
      .inquire-item-border {
        background: #DCDCDC;
        width: 100%;
        height: 6px;
        border-radius: 20px;
        margin-bottom: 30px;
        position: relative;
        .inquire-item-inner{
          height: 4px;
          position: absolute;
          top: 1px;
          border-radius: 20px;
        }
      }
    }

  }
  /*下拉选择*/
  .inquire-select {
    width: 100%;
    height: 10vh;
    background: #FFFFFF;
    text-align: left;
    padding: 1.5vh 2vw;
    div:first-child {
      margin-bottom: 1.4vh;
      span {
        display: inline-block;
        width: 6vw;
        border: 1px solid #EAEAEA;
        text-align: center;
        font-size: 12px;
        padding: 0.3vh 0;
      }
      span:first-child {
        display: inline;
        border: 0;
        margin-right: 1vw;
        font-weight: 600;
      }
      span:nth-child(2) {
        border-radius: 15px  0 0 15px;
      }
      span:last-child {
        border-radius: 0 15px 15px 0;
      }


    }
    .inquire-select-status{
      display: flex;
      justify-content: space-between;
      .select-status{
        span {
          display: inline-block;
          width: 5vw;
          border: 1px solid #EAEAEA;
          text-align: center;
          font-size: 12px;
          padding: 0.3vh 0;
        }
        span:first-child {
          display: inline;
          border: 0;
          margin-right: 1vw;
          font-weight: 600;
        }
        span:nth-child(2) {
          border-radius: 15px  0 0 15px;
        }
        span:nth-child(6) {
          border-radius: 0 15px 15px 0;
        }
      }

      /deep/ .ivu-input {
        border-radius: 20px;
        height: 26px;
        font-size: 12px;
      }

    }
    /deep/ .ivu-input-suffix i {
      line-height: 26px;
    }
  }
  /*内容*/
  .inquire-centent {
    width: 86.8vw;
    height: 66vh;
    background: #fff;
    margin: 1vh 0.6vw;
    /*搜索框*/
    .inquire-search {
      padding: 1vh 1vw;
      text-align: right;
      /deep/ .ivu-input {
        border-radius: 20px;
        font-size: 10px;
        height: 30px;
      }
      /deep/ .ivu-input-prefix i, .ivu-input-suffix i {
        line-height: 30px;
      }
    }
    .inquire-table {
      overflow-y: scroll;
      height: 55vh;
      padding: 0.5vh 10px;

    }
    .inquire-paging {
      height: 6vh;

    }
  }
}

